/* CSS Document */
body,ul,a{
	margin:0;
	color:#fff;
	font:14px "宋体";
	padding:0;
	list-style-type:none;
	line-height:36px;
	text-indent:48px;
	}
a{
	text-decoration:none;
	}
body{
	background:url(../images/beijing4.png) no-repeat;
	padding-top:43px;
	height:689px;
	width:1000px;
	}
div{
	margin:0px auto;
	width:260px;
	background:#15b7dd url(../images/beijing5.png)  right bottom no-repeat;
	}
ul{
	border-bottom:1px solid #5ccce7;
	padding:10px 0px 10px 0px;
	}
.ty{
	background:url(../images/ty.png) 20px 11px no-repeat;
	}
.jt{
	background:url(../images/jt.png) 231px 11px no-repeat;
	}